#task_board{
    padding: 25px 0;
}
h3,h2{
    margin: 0;
}
.titl_card{
    padding: 15px 30px;
    background: #f10a0a;
    color: #000;
}
ul{
    list-style: none;
    padding: 0;
}
.days_col{
    display: flex;
}
.days_col_jst{
    justify-content: flex-end;
}
.days_col li{
    margin-right: 20px;
}
.days_col li a{
    text-decoration: none;
    color: #f70a0a;
    font-weight: 500;
}
.secnd_cls{
    padding: 20px 0;
}
.third_innr_crcl{
    border: 1px solid #f10a0a;
    padding: 30px;
}
.cmn_cls{
    padding: 15px;
    box-shadow: 0 1px 15px 1px rgb(42 37 73 / 34%);
    border-radius: 15px;
    text-align: center;
}
span{
color:#f51b1b;
}
.cmn_cls span,.left_bg span{
    display: block;
    font-weight: 500;
}
.org{
    background: #fff;
    color: #000;
}
.blu{
    background: #fff;
    color: #000;
}
.grn{
    background: #fff;
    color: #000;
}
.red{
    background: #fff;
    color: #000;
}
.ylw{
    background: #fff;
    color: #000;
}
.gray{
    background: #fff;
    color: #000;
}
.pink{
    background: #fff;
    color: #000;
}
.ygd{
    background: #fff;
    color: #000;
}
img{
    width: 95%;
    display: block;
}
.left_bg_div{
    color: #000;
    position: absolute;
    top: 30%;
    bottom: 0;
    left: -6%;
    right: 0;
    text-align: center;
}
.left_bg{
    position: relative;
}
.left_bg_div h2{
    font-size: 75px;
}
.left_bg_div span{
    font-size: 24px;
}
@media (min-width: 992px){
    .col-lg-8 {
        width: 65.666667% !important;
    }
}
@media (max-width: 1200px){
    .left_bg_div h2{
        font-size: 50px;
    }
    .left_bg_div span{
        font-size: 18px;color:#f51b1b;
    }
}
@media (max-width: 992px){
    .days_col_jst{
        justify-content: space-between;
    }
}
@media (max-width: 767px){
    .marg_btm_cls{
        margin-bottom: 20px;
    }
}